<section class="page" id="mua1n">
<div id="comp-ir243rba" class="Text">
<h2 class="font_3" style="line-height:1.2em; text-align:center"><span style="color:#1428DB;"><span style="letter-spacing:0.25em">I TOLD YOU SO!</span></span></h2>
</div>

<div>
New Prediction:
<input type="text" id="newPrediction">
<br>
<button (click)="onClickMe()">Save Prediction</button>
</div>

<div>
<br>
My Past Predictions:
<br>
"My Roommate will not clean the dishes by Wednesday night"
<br>
"I will stress cry from IST 361 before the end of the semester"
<br>
"The Miami Dolphins will win the Super Bowl in 2019"
</div>
